:host {
  all: inherit;
}

.animated-text {
  text-justify: center;

  letter-spacing: 0.125em;
  font-weight: 900;
  text-align: center;
}

.animated-text::after {
  content: "|";
  -webkit-animation: blink 0.5s steps(2) infinite;
          animation: blink 0.5s steps(2) infinite;
}

@-webkit-keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}